<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
      We declare the package here. Note that this is different from the `namespace`
      in build.gradle.kts. For plugins, we don't need to specify it, but it's good practice.
      The important part is that the Android build tools will merge this manifest
      into the main app's manifest.
    -->
    <application>
        <activity
            android:name="com.yeonv.streamlocker.player.PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>