<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.plugin.streamlockerplayer.PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>